
.input-label{
    font-family: 'Chewy', cursive;
    font-size:2rem;
}
.section-head{
    font-size: 7rem;
    font-family: 'Chewy', cursive;
}
.section-head2{
    font-size: 4rem;
    font-family: 'Chewy', cursive;
    
}
.submit-button{
    font-family: 'Chewy', cursive;
    padding:3rem;
    color:black;
    
}
.variable-display{
    font-family: 'Chewy', cursive; 
}
.description{
    color: #646262;
    font-family: 'Chewy', cursive;
}

#answer-div2 , #answer-div1, #answer-div{
    font-family: 'Chewy', cursive;
    font-size:2rem;

}
.data-point{
    font-family: 'Chewy', cursive;
    font-size:2rem;
    border: 0rem;
    width:24rem;
    text-align:center;
}
#mainlogo{
    height:8rem;
    width:8rem;
}
#main-con{
    background: #ffffff4f;
    margin-top:3rem;
    
}
.navbar-brand{
    height:5rem;
    width:5rem;
    margin-right:6rem;
    margin-left:2rem;
    
}
.nav-link{
    color:white;
    font-size:1.5rem;
    font-family: 'Chewy', cursive;
}
body{
    background:orange;
}
.card-img-bottom{
    width:10rem;
    height:10rem;
}
.card-title {
    margin-bottom: .75rem;
    font-size: 4rem;
    font-family: 'Chewy', cursive;
    
}
.card-text{
    font-size:1rem;
}
.input-label{
    margin-right:2rem;
}
.submit-button{
    height:3rem;
   margin-top:2rem;
   background:black;
   color:white;
   margin-bottom:1.5rem;
}

.submit-button:hover{
    background-color:#1cf3ff;
}
.nav-link:hover{
    color:#1cf3ff;
}
.nav-link{
    color:black
}

#main{
   background-color:black
}
.main{
    
   
   background-image:url('assets/air.jpg');
   
   background-size:cover;

    
}
.hold{
    padding:0rem;
   background:red;
}
.navbar{
    background: #c4d4dc00;
  
}
.dropdown-item{
    color:blue;
}
#title-text{
    margin-bottom:0rem;
}
#title-box{
    margin-bottom:3rem;
}
#var-box{
    background: #00000012;
}

